@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  :root {
    --blue-100: #E5ECF8;
    --blue-200: #C6D6EF;
    --blue-300: #8DADE0;
    --blue-400: #5483D0;
    --blue-500: #2F5FAC;
    --blue-600: #234781;
    --blue-700: #183056;
    --blue-800: #0C182B;
    --blue-900: #020D1E;
    --gray--100: #F6F7FC;
    --gray--200: #F1F2F6;
    --gray--300: #E4E6ED;
    --gray--400: #D6D9E4;
    --gray--500: #C8CCDB;
    --gray--600: #9AA1B9;
    --gray--700: #646D89;
    --gray--800: #424C6B;
    --gray--900: #2A2E3F;
    --orange-100: #FBAA1C;
    --orange-500: #F47E20;
    --black: #000000;
    --white: #FFFFFF;
    --green: #2FAC8E;
    --linear1: linear-gradient(90deg, #95BEFF, #0040E5);
    --linear2: linear-gradient(90deg, #2558DD, #5697FF);
    --H1: 4.125rem; /* 66px = 4.125rem */
    --H2: 2.25rem; /* 36px = 2.25rem */
    --H3: 1.5rem; /* 24px = 1.5rem */
    --B1: 1.25rem; /* 20px = 1.25rem */
    --B2: 1rem; /* 16px = 1rem */
    --B3: 0.875rem; /* 14px = 0.875rem */
    --B4: 0.75rem; /* 12px = 0.75rem */
    --font-sans: 'Inter';
  }

  body {
    font-family: var(--font-sans);
  }

  .bg-blue-100 {
    background: var(--blue-100);
  }
  .bg-gray-200 {
    background: var(--gray--200);
  }
  .bg-linear1 {
    background: var(--linear1);
  }
  .bg-linear2 {
    background: var(--linear2);
  }
  .text-h1 {
    font-size: var(--H1);
    line-height: 66px;
    font-family: var(--font-sans);
  }
  .text-h2 {
    font-size: var(--H2);
    line-height: 36px;
  }
  .text-h3 {
    font-size: var(--H3);
    line-height: 24px;
  }
  .text-b1 {
    font-size: var(--B1);
    line-height: 20px;
  }
  .text-b2 {
    font-size: var(--B2);
    line-height: 16px;
  }
  .text-b3 {
    font-size: var(--B3);
    line-height: 14px;
  }
  .text-b4 {
    font-size: var(--B4);
    line-height: 12px;
  }

.box-shadow1 {
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.08);
}

.box-shadow2 {
  box-shadow: 2px 2px 12px 0 rgba(64, 50, 133, 0.12);
}
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
